body,html{
    height: 100%;
}
body{
    background: #45904907;
    font-family: montserrat;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
}
.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eceaff;
    border-radius: 10px;
    padding: 40px;
    width: 650px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 5);
}
.user-card ::before{
    position: absolute;
    content: '';
    height: 300%;
    width: 170px;
    background: rgba(187, 234, 199, 0.766);
    top: -60px;
    left: -125px;
    z-index: 0;
    transform: rotate(17deg);
}
.user-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.user-card-img{
    width: 150px;
    height: 200px;
    object-fit: cover;
}
.user-card-info{
    text-align: left;
}